<!-- templates/index.html или templates/base.html -->
{% load django_vite %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>СпасиЗверя</title>
        {% vite_hmr_client %} {# Для Hot Module Replacement в разработке #}
        {% vite_asset 'src/main.ts' %} {# Точка входа вашего Vue приложения #}
    </head>
    <body>
        <div id="app">
        </div>
    </body>
</html>
